
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3 ">
        {{#if error}}
        <div class="alert alert-danger " >
            {{error}}
        </div>
        {{/if}}
    </div>
</div>
<div class="row">
   <h1> {{title}}</h1>
   <div class="container">
       <form action="/addproduct" method="post" enctype='multipart/form-data'>


             <div class="form-group">
                 <span class="control-fileupload">

                 <label for="imagePath">Choose a file to upload product image :</label>
                <input type="file" id="imagePath" name="imagePath"  class="form-control">
                 </span>
            </div>
            <div class="form-group">
                 <label for="title">Name</label>
                <input type="text" id="title" name="title" class="form-control">
            </div>
            <div class="form-group">
                 <label for="title">Description</label>
                <input type="text" id="description" name="description" class="form-control">
            </div>

            <div class="form-group">
                 <label for="title">Price</label>
                <input type="text" id="price" name="price" class="form-control">
            </div>


             <input type="hidden" name="_id" >
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-success pull-right">Add</button>
         </form>
   </div>
</div>